### 1. Import the data located at this link. It has information on people infected with dengue at the district level for 2015 to 2021.

In [1]:
import pandas as pd

# Ruta del archivo CSV: 
ruta_csv = "../../_data/data_dengue_peru.csv" #Ponemos el ../.. para retroceder 

# Cargar el archivo CSV en un DataFrame
dengue_df = pd.read_csv(ruta_csv)
dengue_df

C:\Users\Usuario\AppData\Local\Temp\ipykernel_22336\665424459.py:7: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  dengue_df = pd.read_csv(ruta_csv)

,Año,Semana,Eventos o daños,Departamento,Distrito,Provincia,Ubigeo,Casos
0,2020,43,Dengue,CUSCO,MEGANTONI,LA CONVENCION,80914,2.0
1,2021,41,Dengue,MOQUEGUA,MOQUEGUA,MARISCAL NIETO,180101,NaN
2,2021,42,Dengue,MOQUEGUA,MOQUEGUA,MARISCAL NIETO,180101,NaN
3,2020,1,Dengue,CUSCO,MEGANTONI,LA CONVENCION,80914,0.0
4,2020,53,Dengue,CUSCO,MEGANTONI,LA CONVENCION,80914,2.0
...,...,...,...,...,...,...,...,...
172139,2021,49,Dengue,MADRE DE DIOS,MADRE DE DIOS,MANU,170203,NaN
172140,2021,49,Dengue,MADRE DE DIOS,TAHUAMANU,TAHUAMANU,170303,NaN
172141,2021,50,Dengue,MADRE DE DIOS,MADRE DE DIOS,MANU,170203,NaN
172142,2021,50,Dengue,MADRE DE DIOS,TAHUAMANU,TAHUAMANU,170303,NaN
172143,2021,51,Dengue,MADRE DE DIOS,TAHUAMANU,TAHUAMANU,170303,NaN

In [4]:
dengue_df.columns[7]

'Casos'

### 2. Generate ubigeo for Departments and Provinces taking the first two and four numbers. Hint: Use this code.

In [2]:
#Ubigeo is made out of 6 characters. The first two are a code for the Department. The codes for Department range from 01 to 25, but here we see that the dataframe 
#is ommiting the 0 at the beginning, so we fix thagt
dengue_df['Ubigeo'] = dengue_df['Ubigeo'].astype(str).str.zfill(6)

In [3]:
dengue_df #We check if everything is alright

,Año,Semana,Eventos o daños,Departamento,Distrito,Provincia,Ubigeo,Casos
0,2020,43,Dengue,CUSCO,MEGANTONI,LA CONVENCION,080914,2.0
1,2021,41,Dengue,MOQUEGUA,MOQUEGUA,MARISCAL NIETO,180101,NaN
2,2021,42,Dengue,MOQUEGUA,MOQUEGUA,MARISCAL NIETO,180101,NaN
3,2020,1,Dengue,CUSCO,MEGANTONI,LA CONVENCION,080914,0.0
4,2020,53,Dengue,CUSCO,MEGANTONI,LA CONVENCION,080914,2.0
...,...,...,...,...,...,...,...,...
172139,2021,49,Dengue,MADRE DE DIOS,MADRE DE DIOS,MANU,170203,NaN
172140,2021,49,Dengue,MADRE DE DIOS,TAHUAMANU,TAHUAMANU,170303,NaN
172141,2021,50,Dengue,MADRE DE DIOS,MADRE DE DIOS,MANU,170203,NaN
172142,2021,50,Dengue,MADRE DE DIOS,TAHUAMANU,TAHUAMANU,170303,NaN
172143,2021,51,Dengue,MADRE DE DIOS,TAHUAMANU,TAHUAMANU,170303,NaN

In [4]:
#Now we can generate an Ubigeo for Department (made out by the first 2 digits) and Provincias (made out by the 4 next digits)
# Extraer los códigos 'Ubigeo' departamentales y provinciales
dengue_df['Ubigeo_Departamental'] = dengue_df['Ubigeo'].str[:2]
dengue_df['Ubigeo_Provincial'] = dengue_df['Ubigeo'].str[2:6]

In [5]:
dengue_df

,Año,Semana,Eventos o daños,Departamento,Distrito,Provincia,Ubigeo,Casos,Ubigeo_Departamental,Ubigeo_Provincial
0,2020,43,Dengue,CUSCO,MEGANTONI,LA CONVENCION,080914,2.0,08,0914
1,2021,41,Dengue,MOQUEGUA,MOQUEGUA,MARISCAL NIETO,180101,NaN,18,0101
2,2021,42,Dengue,MOQUEGUA,MOQUEGUA,MARISCAL NIETO,180101,NaN,18,0101
3,2020,1,Dengue,CUSCO,MEGANTONI,LA CONVENCION,080914,0.0,08,0914
4,2020,53,Dengue,CUSCO,MEGANTONI,LA CONVENCION,080914,2.0,08,0914
...,...,...,...,...,...,...,...,...,...,...
172139,2021,49,Dengue,MADRE DE DIOS,MADRE DE DIOS,MANU,170203,NaN,17,0203
172140,2021,49,Dengue,MADRE DE DIOS,TAHUAMANU,TAHUAMANU,170303,NaN,17,0303
172141,2021,50,Dengue,MADRE DE DIOS,MADRE DE DIOS,MANU,170203,NaN,17,0203
172142,2021,50,Dengue,MADRE DE DIOS,TAHUAMANU,TAHUAMANU,170303,NaN,17,0303
172143,2021,51,Dengue,MADRE DE DIOS,TAHUAMANU,TAHUAMANU,170303,NaN,17,0303